# Nosso desafio

- Para cada aeroporto trazer as top10 **companhias aéreas com maior atuação no ano** com as seguintes informações:
    - Nome do Aeroporto
    - ICAO do Aeroporto
    - Razão social da Companhia Aérea
    - Quantidade de Rotas à partir daquele aeroporto
    - Quantidade de Rotas com destino àquele aeroporto
    - Quantidade total de pousos e decolagens naquele aeroporto

In [15]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder.appName("Exemplo").config("spark.jars.packages", "org.postgresql:postgresql:42.2.24").getOrCreate()

In [16]:
df_vra = (
    spark
    .read
    .format("parquet")
    .load("/home/app/data/1.bronze/vra/")
)

df_vra.show(1, vertical=True)

df_aircia = (
    spark
    .read
    .format("parquet")
    .load("/home/app/data/1.bronze/air_cia/")
)

df_aircia.show(1, vertical=True)

-RECORD 0----------------------------------
 icao_empresa_aerea     | AAL
 numero_voo             | 904
 codigo_di              | 0
 codigo_tipo_linha      | I
 icao_aerodromo_origem  | SBGL
 icao_aerodromo_destino | KMIA
 partida_prevista       | 01/06/2022 23:00
 partida_real           | 01/06/2022 22:57
 chegada_prevista       | 02/06/2022 07:45
 chegada_real           | 02/06/2022 07:17
 situacao_voo           | REALIZADO
 codigo_justificativa   | null
only showing top 1 row

-RECORD 0----------------------------------------
 razao_social             | ABSA - AEROLINHAS...
 icao_iata                | LTG M3
 cnpj                     | 00074635000133
 atividades_aereas        | TRANSPORTE AÉREO ...
 endereco_sede            | AEROPORTO INTERNA...
 telefone                 | 1155828055
 e-mail                   | gar@tam.com.br
 decisao_operacional      | DECISÃO Nº 41
 data_decisao_operacional | 22/04/2015
 validade_operacional     | 23/04/2025
 icao                     | LTG
 iata                     | M3
only showing top 1 row

In [17]:
df_aircia.createOrReplaceTempView("cia_aerea")
df_vra.createOrReplaceTempView("vra")

In [18]:
spark.sql("select * from vra limit 10").show()

+------------------+----------+---------+-----------------+---------------------+----------------------+----------------+----------------+----------------+----------------+------------+--------------------+
|icao_empresa_aerea|numero_voo|codigo_di|codigo_tipo_linha|icao_aerodromo_origem|icao_aerodromo_destino|partida_prevista|    partida_real|chegada_prevista|    chegada_real|situacao_voo|codigo_justificativa|
+------------------+----------+---------+-----------------+---------------------+----------------------+----------------+----------------+----------------+----------------+------------+--------------------+
|               AAL|       904|        0|                I|                 SBGL|                  KMIA|01/06/2022 23:00|01/06/2022 22:57|02/06/2022 07:45|02/06/2022 07:17|   REALIZADO|                null|
|               AAL|       905|        0|                I|                 KMIA|                  SBGL|01/06/2022 21:00|01/06/2022 21:55|02/06/2022 05:10|02/06/2022 06:07|   REALIZADO|                null|
|               AAL|       906|        0|                I|                 SBGR|                  KMIA|01/06/2022 23:15|01/06/2022 23:13|02/06/2022 07:45|02/06/2022 07:36|   REALIZADO|                null|
|               AAL|       929|        0|                I|                 KMIA|                  SBGR|01/06/2022 21:00|01/06/2022 23:36|02/06/2022 05:15|02/06/2022 07:41|   REALIZADO|                null|
|               AAL|       930|        0|                I|                 SBGR|                  KMIA|01/06/2022 21:25|01/06/2022 21:19|02/06/2022 06:00|02/06/2022 05:27|   REALIZADO|                null|
|               AAL|       950|        0|                I|                 SBGR|                  KJFK|01/06/2022 21:40|01/06/2022 21:38|02/06/2022 07:30|02/06/2022 06:56|   REALIZADO|                null|
|               AAL|       951|        0|                I|                 KJFK|                  SBGR|01/06/2022 22:50|01/06/2022 23:57|02/06/2022 08:20|02/06/2022 11:08|   REALIZADO|                null|
|               AAL|       962|        0|                I|                 SBGR|                  KDFW|01/06/2022 22:25|01/06/2022 22:16|02/06/2022 08:50|02/06/2022 08:54|   REALIZADO|                null|
|               AAL|       963|        0|                I|                 KDFW|                  SBGR|01/06/2022 21:30|01/06/2022 23:54|02/06/2022 07:30|02/06/2022 09:47|   REALIZADO|                null|
|               AAL|       991|        2|                X|                 KMIA|                  SBGR|            null|02/06/2022 10:00|            null|02/06/2022 18:08|   REALIZADO|                null|
+------------------+----------+---------+-----------------+---------------------+----------------------+----------------+----------------+----------------+----------------+------------+--------------------+

In [19]:
spark.sql("select * from cia_aerea limit 10").show()

+--------------------+---------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------------+--------------------+----+----+
|        razao_social|icao_iata|          cnpj|   atividades_aereas|       endereco_sede|            telefone|              e-mail| decisao_operacional|data_decisao_operacional|validade_operacional|icao|iata|
+--------------------+---------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------------+--------------------+----+----+
|ABSA - AEROLINHAS...|   LTG M3|00074635000133|TRANSPORTE AÉREO ...|AEROPORTO INTERNA...|          1155828055|      gar@tam.com.br|       DECISÃO Nº 41|              22/04/2015|          23/04/2025| LTG|  M3|
|AEROSUL TÁXI AÉRE...|   ASO 2S|27315694000102|SERVIÇOS AÉREOS P...|RODOVIA PR 218, K...|          4331764030|operacoes@aerosul...|      DECISÃO Nº 282|              10/02/2021|                null| ASO|  2S|
|ASTA LINHAS AÉREA...|   SUL 0A|12703737000150|SERVIÇOS AÉREOS P...|AV GOVERNADOR JOÃ...|65361426841821041000|                null|      DECISÃO Nº 115|              31/07/2019|          02/08/2024| SUL|  0A|
|ATA - AEROTÁXI AB...|      ABJ|14674451000119|TÁXI-AÉREO, TRANS...| PÇA. GAGO COUTIN...|71346296007199664...|guilherme@abaete....|       DECISÃO Nº 36|              05/03/2020|                null| ABJ|null|
|AZUL CONECTA LTDA...|   ACN 2F|04263318000116|TRANSPORTE AÉREO ...|AVENIDA EMILIO AN...|11458223551198743...|                null|Decisão nº 14, de...|              25/01/2018|          29/01/2028| ACN|  2F|
|AZUL LINHAS AÉREA...|   AZU AD|09296295000160|TRANSPORTE AÉREO ...|AV. MARCOS PENTEA...|55114134988755114...|vanessa.reis@voea...|      Decisão nº 178|              20/11/2018|          21/11/2028| AZU|  AD|
|GOL LINHAS AÉREAS...|   GLO G3|07575651000159|TRANSPORTE AÉREO ...|PRAÇA SENADOR SAL...|11509829901150987872|rddfonseca@voegol...|      DECISÃO Nº 156|              05/11/2019|                null| GLO|  G3|
|MAP TRANSPORTES A...|   PAM 7M|10483635000140|TRANSPORTE AÉREO ...|AVENIDA SANTOS DU...|          9236521620|contabil@voemap.c...|       DECISÃO Nº 89|              14/08/2012|          17/08/2022| PAM|  7M|
|MODERN TRANSPORTE...|   MWM WD|03887831000115|TRANSPORTE AÉREO ...|AVENIDA PREFEITO ...|21227292721131096750|juridico@modern.c...|       DECISÃO Nº 79|              31/05/2017|          02/06/2027| MWM|  WD|
|PASSAREDO TRANSPO...|   PTB 2Z|00512777000135|TRANSPORTE AÉREO ...|SETOR DE HANGARES...|16351471271635147126|juridico@voepass....|      DECISÃO Nº 105|              09/06/2020|                null| PTB|  2Z|
+--------------------+---------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------------+--------------------+----+----+

In [21]:
spark.sql("""
SELECT
     YEAR(vra.chegada_real) AS Ano,
     cia.endereco_sede AS Nome_do_Aeroporto,
     vra.icao_empresa_aere AS ICAO_do_Aeroporto,
     cia.razao_social AS "Razão social da Companhia_Aerea,
     COUNT(vra.icao_aerodromo_origem) AS Quantidade_Origem,
     COUNT(vra.icao_aerodromo_destino) AS Quantidade_estino",
     (COUNT(vra.icao_aerodromo_origem) + COUNT(vra.icao_aerodromo_destino)) AS "Quantidade Total"
FROM
    vra
LEFT JOIN cia_aerea cia ON vra.icao_empresa_aere = cia.icao
WHERE
   vra.situacao_voo = 'REALIZADO'
GROUP BY 
    YEAR(vra.chegada_real),
    cia.endereço_sede,
    vra.icao_empresa_aere,
    cia.razão_social
ORDER BY
    YEAR(vra.chegada_real)
""").show()

ParseException:
Syntax error at or near 'do'(line 4, pos 31)

== SQL ==

SELECT
     YEAR(vra.chegada_real) AS Ano,
     cia.endereco_sede AS Nome do Aeroporto,
-------------------------------^^^
     vra.icao_empresa_aere AS "ICAO do Aeroporto",
     cia.razao_social AS "Razão social da Companhia Aérea",
     COUNT(vra.icao_aerodromo_origem) AS "Quantidade Origem",
     COUNT(vra.icao_aerodromo_destino) AS "Quantidade destino",
     (COUNT(vra.icao_aerodromo_origem) + COUNT(vra.icao_aerodromo_destino)) AS "Quantidade Total"
FROM
    vra
LEFT JOIN cia_aerea cia ON vra.icao_empresa_aere = cia.icao
WHERE
   vra.situacao_voo = 'REALIZADO'
GROUP BY
    YEAR(vra.chegada_real),
    cia.endereço_sede,
    vra.icao_empresa_aere,
    cia.razão_social
ORDER BY
    YEAR(vra.chegada_real)